@media media  and (max-width: 412px ) {
     #container {
        width: 100%;
        padding: 10px 0px;
        background-color: rebeccapurple;

        .logo {
            width: 10%;
        }
     }

     .nav-bar {
        width: 50%;
        
     }
  }


  